<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conradhaupt.MenU"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/holo_light" >
        <activity
            android:name="com.conradhaupt.MenU.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.conradhaupt.MenU.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.conradhaupt.MenU.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.conradhaupt.MenU.HomeActivity" />

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.conradhaupt.MenU.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName="com.conradhaupt.MenU.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.conradhaupt.MenU.HomeActivity" />
        </activity>
        <activity
            android:name="com.conradhaupt.MenU.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.conradhaupt.MenU.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.conradhaupt.MenU.HomeActivity" />
        </activity>
        <activity
            android:name="com.conradhaupt.MenU.AccountSettingsActivity"
            android:label="@string/title_activity_account_settings"
            android:parentActivityName="com.conradhaupt.MenU.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.conradhaupt.MenU.HomeActivity" />
        </activity>

        <service android:name=".Core.MenUService" >
        </service>
    </application>

</manifest>